<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>

<body>
<footer>
    <div class="innerBox">
        <ul class="ftTop">
            <li><a href="">CWU 서비스 이용약관</a></li>
            <li><a href="">개인정보 처리 방침</a></li>
            <li><a href="">채용정보</a></li>
            <li><a href="">고객센터</a></li>
        </ul>
        <div class="ftBottom">
            <ul>
                <li>주식회사 ChillWithUs</li>
                <li>서울특별시 서초구 강남대로 343</li>
            </ul>
            <ul>
                <li>사업자등록번호 211-88-6022</li>
                <li>통신판매업 신고번호 제 2019-서울서초-0965호</li>
            </ul>
        </div>
        <p>Copyright © 2022 by ChillWithUs, Inc. All rights reserved.</p>
    </div>
</footer>
</body>
</html>