<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>

<div th:fragment="menubar">
    <header>
        <div class="logo">
            <h1><a href="../../index.html"><img src="images/watcha_logo.svg" alt="wave_logo"></a></h1>
        </div>
        <div class="hamWrap">
            <div class="ham">
                <a href="#void">
                    <div class="hamBtn">
<!--                        <span></span>-->
<!--                        <span></span>-->
<!--                        <span></span>-->
                    </div>
                    <div class="hamText">
                        <span>MENU</span>
                    </div>
                </a>
            </div>
        </div>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/swiper-bundle.css">
        <link rel="stylesheet" href="css/style.css">

        <script src="js/jquery-3.6.0.min.js"></script>
        <script src="js/swiper-bundle.js"></script>
        <script src="js/TweenMax.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/CSSPlugin.min.js"></script>
        <script src="js/TextPlugin.min.js"></script>
        <script src="js/rotateBanner.js"></script>
        <script src="js/infiniteslidev2.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/script.js"></script>
    </header>
    <nav>
        <ul id="nav">
            <li><a href="#void">HOME</a></li>
            <li><a th:href="@{/login.us}">Sign in</a></li>
            <li><a th:href="@{/enrollForm.us}">Sign up</a></li>
            <li><a href="#void">My Page</a></li>
            <li><a href="#void">Search</a></li>
        </ul>
    </nav>
</div>

</body>
</html>