<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chill With Us</title>
</head>

<body>
<div class="banner">
    <div class="banner__content">
        <div class="banner__text">
            <strong>chillwithUS와 함께 하셔서 모든 영화, 드라마를 무제한으로 감상하세요</strong>
            <br><br>
            <button class="btnO">이용권 구매</button> <button class="btnD">쿠폰등록</button>
        </div>
        <button class="banner__close" type="button">
        <span class="material-icons">
          close
        </span>
        </button>
    </div>
</div>
<script>
    document.querySelector(".banner__close").addEventListener("click", function () {
        this.closest(".banner").style.display = "none";
    });
</script>
<div th:insert="~{views/common/menubar :: menubar}"></div>

<div class="bg"></div>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href=""><img src="/images/mainBanner/main_banner_01.jpg" alt="banner1"></a>
                <div class="textBox">
                    <p>하우스 오브 드래곤</p>
                    <p>불이 군림한다</p>
                </div>
            </div>
            <div class="swiper-slide">
                <a href=""><img src="/images/mainBanner/main_banner_02.jpg" alt="banner2"></a>
                <div class="textBox">
                    <p>금수저</p>
                    <p>나는 꼭 내 자신으로 살 거야</p>
                </div>
            </div>
            <div class="swiper-slide">
                <a href=""><img src="/images/mainBanner/main_banner_03.jpg" alt="banner3"></a>
                <div class="textBox">
                    <p>치얼업</p>
                    <p>선명하고 뜨거웠던 우리의 계절</p>
                </div>
            </div>
            <div class="swiper-slide">
                <a href=""><img src="/images/mainBanner/main_banner_04.jpg" alt="banner4"></a>
                <div class="textBox">
                    <p>빅마우스</p>
                    <p>미궁 속으로 빠져드는 그의 정체</p>
                </div>
            </div>
            <div class="swiper-slide">
                <a href=""><img src="/images/mainBanner/main_banner_05.jpg" alt="banner5"></a>
                <div class="textBox">
                    <p>반지의 제왕</p>
                    <p>장엄한 역사의 판타지</p>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<div id="container">
    <div class="section1">
        <div class="swiper mySwiper2">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a th:href="@{/detail.vi}"><img src="/images/section1/movie_01.jpg" alt="1"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section1/movie_02.jpg" alt="2"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section1/movie_03.jpg" alt="3"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section1/movie_04.jpg" alt="4"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section1/drama_01.jpg" alt="5"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section1/drama_02.jpg" alt="6"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section1/drama_03.jpg" alt="7"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section1/drama_04.jpg" alt="8"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section1/variety_01.jpg" alt="9"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section1/variety_02.jpg" alt="10"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section1/variety_03.jpg" alt="11"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section1/variety_04.jpg" alt="12"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section1/ani_01.jpg" alt="13"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section1/ani_02.jpg" alt="14"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section1/ani_03.jpg" alt="15"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section1/ani_04.jpg" alt="16"></a></div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination2"></div>
        <a href="">더보기 &gt</a>
    </div>

    <div class="originalsWrap">
        <ul class="navigation">
            <li class="navigation-item active">
                <span class="rotate-holder"></span>
                <span class="background-holder" style="background-image: url(/images/wrap/poster_01.jpg);"></span>
            </li>
            <li class="navigation-item">
                <span class="rotate-holder"></span>
                <span class="background-holder" style="background-image: url(/images/wrap/poster_02.jpg);"></span>
            </li>
            <li class="navigation-item">
                <span class="rotate-holder"></span>
                <span class="background-holder" style="background-image: url(/images/wrap/poster_03.jpg);"></span>
            </li>
            <li class="navigation-item">
                <span class="rotate-holder"></span>
                <span class="background-holder" style="background-image: url(/images/wrap/poster_04.jpg);"></span>
            </li>
        </ul>

        <div class="detail">
            <div class="detail-item active">
<!--                <div class="headline">모범택시</div>-->
                <div class="background" style="background-image: url(/images/wrap/background_01.jpg); height: 100vh;"></div>
                <div class="poster"><img src="/images/wrap/poster_01.jpg" alt="1"></div>

            </div>
            <div class="detail-item">
<!--                <div class="headline">검은태양</div>-->
                <div class="background" style="background-image: url(/images/wrap/background_02.jpg);"></div>
                <div class="poster"><img src="/images/wrap/poster_02.jpg" alt="2"></div>
            </div>
            <div class="detail-item">
<!--                <div class="headline">경찰수업</div>-->
                <div class="background" style="background-image: url(/images/wrap/background_03.jpg);"></div>
                <div class="poster"><img src="/images/wrap/poster_03.jpg" alt="3"></div>
            </div>
            <div class="detail-item">
<!--                <div class="headline">원더우먼</div>-->
                <div class="background" style="background-image: url(/images/wrap/background_04.jpg);"></div>
                <div class="poster"><img src="/images/wrap/poster_04.jpg" alt="4"></div>
            </div>
        </div>
    </div>

    <div class="section2">
        <div class="swiper mySwiper3">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href=""><img src="/images/section2/us_01.jpg" alt="us01"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section2/us_02.jpg" alt="us02"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section2/us_03.jpg" alt="us03"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section2/us_04.jpg" alt="us04"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section2/eg_01.jpg" alt="eg01"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section2/eg_02.jpg" alt="eg02"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section2/eg_03.jpg" alt="eg03"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section2/eg_04.jpg" alt="eg04"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section2/jp_01.jpg" alt="jp01"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section2/jp_02.jpg" alt="jp02"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section2/jp_03.jpg" alt="jp03"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section2/jp_04.jpg" alt="jp04"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section2/ch_01.jpg" alt="ch01"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section2/ch_02.jpg" alt="ch02"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section2/ch_03.jpg" alt="ch03"></a></div>
                <div class="swiper-slide"><a href=""><img src="/images/section2/ch_04.jpg" alt="ch04"></a></div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination3"></div>
        <a href="">더보기 &gt</a>
    </div>

    <div class="scrollBanner">
        <div class="lineWrap">
            <ul class="line2">
                <li><img src="/images/line2/line_02_001.jpg" alt="line_02_001"></li>
                <li><img src="/images/line2/line_02_002.jpg" alt="line_02_002"></li>
                <li><img src="/images/line2/line_02_003.jpg" alt="line_02_003"></li>
                <li><img src="/images/line2/line_02_004.jpg" alt="line_02_004"></li>
                <li><img src="/images/line2/line_02_005.jpg" alt="line_02_005"></li>
                <li><img src="/images/line2/line_02_006.jpg" alt="line_02_006"></li>
                <li><img src="/images/line2/line_02_007.jpg" alt="line_02_007"></li>
            </ul>
        </div>

        <div class="parallaxBanner" data-parallax="scroll" data-image-src="/images/parallax_background.jpg"><span>이동 중에도 감상을 멈추지 마세요</span></div>

        <div class="lineWrap">
            <ul class="line1">
                <li><img src="/images/line1/line_01_001.jpg" alt="line_01_001"></li>
                <li><img src="/images/line1/line_01_002.jpg" alt="line_01_002"></li>
                <li><img src="/images/line1/line_01_003.jpg" alt="line_01_003"></li>
                <li><img src="/images/line1/line_01_004.jpg" alt="line_01_004"></li>
                <li><img src="/images/line1/line_01_005.jpg" alt="line_01_005"></li>
                <li><img src="/images/line1/line_01_006.jpg" alt="line_01_006"></li>
                <li><img src="/images/line1/line_01_007.jpg" alt="line_01_007"></li>
                <li><img src="/images/line1/line_01_008.jpg" alt="line_01_008"></li>
                <li><img src="/images/line1/line_01_009.jpg" alt="line_01_009"></li>
                <li><img src="/images/line1/line_01_010.jpg" alt="line_01_010"></li>
                <li><img src="/images/line1/line_01_011.jpg" alt="line_01_011"></li>
                <li><img src="/images/line1/line_01_012.jpg" alt="line_01_012"></li>
                <li><img src="/images/line1/line_01_013.jpg" alt="line_01_013"></li>
                <li><img src="/images/line1/line_01_014.jpg" alt="line_01_014"></li>
                <li><img src="/images/line1/line_01_015.jpg" alt="line_01_015"></li>
                <li><img src="/images/line1/line_01_016.jpg" alt="line_01_016"></li>
                <li><img src="/images/line1/line_01_017.jpg" alt="line_01_017"></li>
                <li><img src="/images/line1/line_01_018.jpg" alt="line_01_018"></li>
                <li><img src="/images/line1/line_01_019.jpg" alt="line_01_019"></li>
                <li><img src="/images/line1/line_01_020.jpg" alt="line_01_020"></li>
                <li><img src="/images/line1/line_01_021.jpg" alt="line_01_021"></li>
                <li><img src="/images/line1/line_01_022.jpg" alt="line_01_022"></li>
                <li><img src="/images/line1/line_01_023.jpg" alt="line_01_023"></li>
                <li><img src="/images/line1/line_01_024.jpg" alt="line_01_024"></li>
                <li><img src="/images/line1/line_01_025.jpg" alt="line_01_025"></li>
                <li><img src="/images/line1/line_01_026.jpg" alt="line_01_026"></li>
            </ul>
        </div>

<!--        <div class="parallaxBanner" data-parallax="scroll" data-image-src="images/parallax_background.JPG"><span>이동 중에도 감상을 멈추지 마세요</span></div>-->

<!--        <ul class="line3">-->
<!--            <li><img src="images/line3/line_03_001.jpg" alt="line_03_001"></li>-->
<!--            <li><img src="images/line3/line_03_002.jpg" alt="line_03_002"></li>-->
<!--            <li><img src="images/line3/line_03_003.jpg" alt="line_03_003"></li>-->
<!--            <li><img src="images/line3/line_03_004.jpg" alt="line_03_004"></li>-->
<!--            <li><img src="images/line3/line_03_005.jpg" alt="line_03_005"></li>-->
<!--            <li><img src="images/line3/line_03_006.jpg" alt="line_03_006"></li>-->
<!--            <li><img src="images/line3/line_03_007.jpg" alt="line_03_007"></li>-->
<!--            <li><img src="images/line3/line_03_008.jpg" alt="line_03_008"></li>-->
<!--            <li><img src="images/line3/line_03_009.jpg" alt="line_03_009"></li>-->
<!--            <li><img src="images/line3/line_03_010.jpg" alt="line_03_010"></li>-->
<!--            <li><img src="images/line3/line_03_011.jpg" alt="line_03_011"></li>-->
<!--            <li><img src="images/line3/line_03_012.jpg" alt="line_03_012"></li>-->
<!--            <li><img src="images/line3/line_03_013.jpg" alt="line_03_013"></li>-->
<!--            <li><img src="images/line3/line_03_014.jpg" alt="line_03_014"></li>-->
<!--            <li><img src="images/line3/line_03_015.jpg" alt="line_03_015"></li>-->
<!--            <li><img src="images/line3/line_03_016.jpg" alt="line_03_016"></li>-->
<!--            <li><img src="images/line3/line_03_017.jpg" alt="line_03_017"></li>-->
<!--            <li><img src="images/line3/line_03_018.jpg" alt="line_03_018"></li>-->
<!--            <li><img src="images/line3/line_03_019.jpg" alt="line_03_019"></li>-->
<!--            <li><img src="images/line3/line_03_020.jpg" alt="line_03_020"></li>-->
<!--            <li><img src="images/line3/line_03_021.jpg" alt="line_03_021"></li>-->
<!--            <li><img src="images/line3/line_03_022.jpg" alt="line_03_022"></li>-->
<!--            <li><img src="images/line3/line_03_023.jpg" alt="line_03_023"></li>-->
<!--            <li><img src="images/line3/line_03_024.jpg" alt="line_03_024"></li>-->
<!--            <li><img src="images/line3/line_03_025.jpg" alt="line_03_025"></li>-->
<!--        </ul>-->
    </div>
</div>

<div th:insert="~{views/common/footer :: footer}"></div>

</body>
</html>
