<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CWU 회원가입</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        div{box-sizing: border-box;}
        .content{
            background-color: black;
            width:60%;
            margin:auto;
        }
        .innerOuter{
            border:1px solid black;
            width:90%;
            margin:auto;
            padding:5% 15%;
            background: black;
            color: white;
            font-size: 17px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div th:insert="~{menubar :: menubar}"></div>

<div class="content">
    <br>
    <div class="innerOuter">
        <h2 align="center" style="font-weight: bold;">Chill With Us 회원가입</h2><br>
        <h5 align="center" class="text-warning">🧡 회원가입 후 즐길 수 있어요 🧡</h5>
        <br>

        <form action="insert.me" method="post" id="enrollForm">
            <div class="form-group">
                <label for="userId">ID :</label>
                <input type="text" class="form-control" id="userId" name="" placeholder="영문, 숫자 조합 6~12자리" required><br>

                <!-- 아이디 중복체크 -->
                <label id="checkResult" style="font-size: 1em; display: none;"></label>

                <label for="userPwd">Password :</label>
                <input type="password" class="form-control" id="userPwd" name="" placeholder="영문, 숫자, 특수문자(~!@#$%^&*) 조합 8~15자리" required><br>

                <label for="checkPwd">Password Check :</label>
                <input type="password" class="form-control" id="checkPwd" placeholder="비밀번호 확인" required><br>

                <label for="userName">Name :</label>
                <input type="text" class="form-control" id="userName" name="" placeholder="이름" required><br>

                <label for="userNickname">Nickname :</label>
                <input type="text" class="form-control" id="userNickname" name="" placeholder="cwu에서 사용할 닉네임을 적어주세요" required><br>

                <label for="userBirth">Birth :</label>
                <input type="text" class="form-control" id="birth" name="" placeholder="생년월일 (yyyymmdd)"><br>

                <label for="userPhone">Phone :</label>
                <input type="tel" class="form-control" id="userPhone" name="" placeholder="전화번호 (-없이)"><br>

                <label for="userAddress">Address :</label><br>
                <input type="text" size="10" height="18" style="border:1px solid lightgray;" id="postcode" placeholder="우편번호">
                <input type="button" class="btn btn-info m-btn--air"  onclick="DaumPostcode()" value="검색"><br>
                <input type="text" class="form-control" id="address" placeholder="주소를 검색하세요">
                <input type="text" class="form-control" id="detailAddress" placeholder="상세주소를 입력하세요">
                <input type="text" class="form-control" id="extraAddress" placeholder="참고항목을 검색하세요"><br>

                <div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
                    <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
                </div>

                <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                <script>
                    // 우편번호 찾기 찾기 화면을 넣을 element
                    var element_wrap = document.getElementById('wrap');

                    function foldDaumPostcode() {
                        // iframe을 넣은 element를 안보이게 한다.
                        element_wrap.style.display = 'none';
                    }

                    function DaumPostcode() {
                        // 현재 scroll 위치를 저장해놓는다.
                        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
                        new daum.Postcode({
                            oncomplete: function(data) {
                                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                var addr = ''; // 주소 변수
                                var extraAddr = ''; // 참고항목 변수

                                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                    addr = data.roadAddress;
                                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                    addr = data.jibunAddress;
                                }

                                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                                if(data.userSelectedType === 'R'){
                                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                        extraAddr += data.bname;
                                    }
                                    // 건물명이 있고, 공동주택일 경우 추가한다.
                                    if(data.buildingName !== '' && data.apartment === 'Y'){
                                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                    }
                                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                    if(extraAddr !== ''){
                                        extraAddr = '('+extraAddr+')';
                                    }
                                    // 조합된 참고항목을 해당 필드에 넣는다.
                                    document.getElementById("extraAddress").value = extraAddr;

                                } else {
                                    document.getElementById("extraAddress").value = '';
                                }

                                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                document.getElementById('postcode').value = data.zonecode;
                                document.getElementById("address").value = addr;
                                // 커서를 상세주소 필드로 이동한다.
                                document.getElementById("detailAddress").focus();

                                // iframe을 넣은 element를 안보이게 한다.
                                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                                element_wrap.style.display = 'none';

                                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                                document.body.scrollTop = currentScroll;
                            },
                            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
                            onresize : function(size) {
                                element_wrap.style.height = size.height+'px';
                            },
                            width : '100%',
                            height : '100%'
                        }).embed(element_wrap);

                        // iframe을 넣은 element를 보이게 한다.
                        element_wrap.style.display = 'block';
                    }
                </script>

                <label for="userEmail">Email :</label>
                <input type="email" class="form-control" id="userEmail" name="" placeholder="cwu@chillwithus.com"><br>

                <label for="userGender">Gender : </label> &nbsp;&nbsp;
                <input type="radio" name="gender" id="Male" value="M">
                <label for="Male">남자</label> &nbsp;&nbsp;
                <input type="radio" name="gender" id="Female" value="F">
                <label for="Female">여자</label><br>
            </div>
            <br>
            <div class="btns" align="center">
                <button type="submit" class="btn btn-primary">회원가입</button>
                <button type="reset" class="btn btn-warning">초기화</button>
            </div>
        </form>
    </div>
    <br>
</div>

<div th:insert="~{footer :: footer}"></div>
</body>
</html>